.custom-header {
  background-color: #222831; /* Footer ka exact color yahan use karein */
}

.custom-header .nav-link {
  color: white !important;
}

.custom-header .nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
